.know-section {
	padding-top: 80px;
	padding-bottom: 80px;
	@include laptop {
		padding-top: 100px;
		padding-bottom: 100px;
	}
}
.know-container {
	@include laptop {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 80px;
	}
}
.know-text-content-wrap {
	@include laptop {
		width: 581px;
	}
}
.know-img-wrap {
	margin-bottom: 8px;

	& > img {
		width: 100%;
		border-radius: 0px 0px 66px 0px;
		overflow: hidden;
		@include tablet {
			border-radius: 0px 0px 120px 0px;
		}
	}

	@include laptop {
		display: none;
	}
}
.know-img-wrap-desc {
	display: none;
	& > img {
		width: 100%;
		border-radius: 0px 0px 120px 0px;
		overflow: hidden;
	}
	@include laptop {
		width: 620px;
		display: block;
	}
}
.know-subtitle {
	margin-bottom: 32px;

	text-align: right;
	color: var(--black);
	font-family: var(--font-garamond);
	font-size: 14px;
	font-weight: 800;
	line-height: 130%;
	text-transform: uppercase;
	& > span {
		color: var(--blue);
	}
	@include laptop {
		display: none;
	}
}
.know-subtitle-desk {
	@extend .know-subtitle;
	display: none;
	@include laptop {
		margin-top: 16px;
		font-size: 30px;
		display: block;
	}
}

.know-text {
	max-height: 240px;
	margin-bottom: 40px;
	overflow: hidden;

	color: var(--main-text-col);
	font-family: var(--font-sans);
	font-size: 16px;
	font-weight: 400;
	line-height: 150%;
	transition: max-height 300ms linear;
	@include tablet {
		max-height: 120px;
	}
	@include laptop {
		max-height: 215px;
	}
	.know-show-more & {
		max-height: 700px;
	}
	@include laptop {
		font-size: 18px;
	}
}
.know-more-button {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 343px;
	padding: 16px 44px;
	justify-content: center;
	align-items: center;
	gap: 10px;

	border: none;
	border-radius: 16px;
	background: var(--orange);
	box-shadow: 4px 8px 20px 0px rgba(240, 150, 31, 0.12);

	color: var(--white);
	text-align: right;
	font-family: var(--font-sans);
	font-size: 18px;
	font-weight: 700;
	line-height: 130%;
	opacity: 1;
	transition: var(--transition-opacity);
	@include hover {
		opacity: 0.8;
	}
	@include laptop {
		margin-left: 0;
	}
	.know-show-more & {
		display: none;
	}
	& > span {
		padding: 6px;
		border-radius: 50px;
		background: #fcba63;
		display: flex;
		justify-content: center;
		align-items: center;
		& > svg {
			width: 16px;
			height: 16px;
		}
	}
}

.know-less-button {
	@extend .know-more-button;
	& > span {
		transform: rotateZ(180deg);
	}
	display: none;
	.know-show-more & {
		display: flex;
	}
}
