<section class="section know-section">
	<div class="container know-container">
		<div class="know-text-content-wrap">
			<h3 id="services" class="section-name">Get to know us</h3>
			<h2 class="section-title">We represent businesses. That’s all we do.</h2>
			<div class="know-img-wrap">
				<img loading="lazy" src="./img/know-us-img.jpg" alt="know us photo" />
			</div>
			<h4 class="know-subtitle">oh, and we <span>love it</span>!</h4>
			<div class="know-text-wrap">
				<p class="know-text">
					We love what we do.<br />
					Whether we’re reviewing a lease for your next space or stepping in to
					save a deal that’s about to fall apart, we’re in it because we care
					about helping your business grow and succeed. There’s nothing better
					than helping build something solid—something that draws in the right
					talent, brings in capital, and protects what you’re working so hard to
					build.<br />
					We get close to our clients. We’re not just your lawyers; we’re your
					partners. The kind who know your business, anticipate what’s coming,
					and give real, strategic advice that matches where you&#39;re headed.
					And we don’t charge by the hour. You pay for the outcome and the
					value, not every time you send an email or jump on a call.<br />
					Our team is made up of people who live this mindset, and we’re proud
					to work with clients who do too.<br /><br />
					Pasha Law started in 2008 in San Diego because Nasir Pasha wanted a
					different kind of law firm. One built around trust, relationships, and
					meaningful outcomes. While others were counting hours, he was more
					interested in making legal support truly valuable to businesses. So,
					he started a firm that did exactly that.<br />
					Since then, we’ve grown, not just in size, but in the way we show up
					for our clients and each other. That growth brought us to Houston in
					2013, and we’ve kept moving forward from there. Through it all, we’ve
					stayed focused on building a team and culture that puts people first
					and believes in doing things the right way.
				</p>
				<button class="know-more-button" type="button">
					Read more<span
						><svg
							xmlns="http://www.w3.org/2000/svg"
							width="17"
							height="17"
							viewBox="0 0 17 17"
							fill="none">
							<path
								opacity="0.9"
								d="M13.4176 6.20056L8.65313 10.9911L3.88867 6.20056"
								stroke="#FDFEFF"
								stroke-width="2"
								stroke-miterlimit="10"
								stroke-linecap="round"
								stroke-linejoin="round" /></svg
					></span>
				</button>
				<button class="know-less-button" type="button">
					Read less<span
						><svg
							xmlns="http://www.w3.org/2000/svg"
							width="17"
							height="17"
							viewBox="0 0 17 17"
							fill="none">
							<path
								opacity="0.9"
								d="M13.4176 6.20056L8.65313 10.9911L3.88867 6.20056"
								stroke="#FDFEFF"
								stroke-width="2"
								stroke-miterlimit="10"
								stroke-linecap="round"
								stroke-linejoin="round" /></svg
					></span>
				</button>
			</div>
		</div>
		<div class="know-img-wrap-desc">
			<img loading="lazy" src="./img/know-us-img.jpg" alt="know us photo" />
			<h4 class="know-subtitle-desk">oh, and we <span>love it</span>!</h4>
		</div>
	</div>
</section>
