<section class="section testi-section">
  <div class="container testi-container">
    <div class="testi-title-top-wrap">
      <div class="testi-title-wrap">
        <h3 id="testimonials" class="section-name">Testimonials</h3>
        <h2 class="section-title">What Our Clients Say ?></h2>
        <p class="testimonials-test">Discover how our personalized legal approach has made a difference for businesses like yours. ?></p>
      </div>

      <div class="testi-swiper-button-wrapper top-button">
        <div class="testi-swiper-button-prev t-btn-prev"> <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g opacity="0.7">
              <circle cx="18.5" cy="18.5" r="17.75" transform="rotate(-180 18.5 18.5)" stroke="#152F53" stroke-width="0.5" />
              <path d="M21.5 12.5L15.5 18.5L21.5 24.5" stroke="#152F53" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </g>
          </svg></div>
        <div class="testi-swiper-button-next t-btn-next"> <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g opacity="0.7">
              <circle cx="18.5" cy="18.5" r="17.75" transform="rotate(-180 18.5 18.5)" stroke="#152F53" stroke-width="0.5" />
              <path d="M21.5 12.5L15.5 18.5L21.5 24.5" stroke="#152F53" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </g>
          </svg></div>
      </div>
    </div>
    <div class="testi-swiper-wrapper">
      <div class="swiper testimonials-swiper">
        <ul class="swiper-wrapper">
          <li class="swiper-slide">
            <div class="testi-swiper-card">
              <div class="testi-item-img-wrap">
                <img loading="lazy" src="./img/testimonials-img-1" alt="testimonials image" />
              </div>
              <div class="testi-item-text-wrap">
                <p class="testi-swiper-card-text">Getting personalized, high quality and prompt support from a legal team in this incredibly fast-
                  moving space not only protects us but had become a differentiation for our company.</p>
                <div class="testi-swiper-title-wrap">
                  <h4 class="testi-swiper-card-title">CEO of Genetic Consulting Business, California</h4>
                </div>
              </div>


            </div>
          </li>
          <li class="swiper-slide">
            <div class="testi-swiper-card">
              <div class="testi-item-img-wrap">
                <img loading="lazy" src="./img/testimonials-img-2" alt="testimonials image" />
              </div>
              <div class="testi-item-text-wrap">
                <p class="testi-swiper-card-text">I have been more and more impressed with Pasha Law PC with every interaction. They are
                  prompt to return calls, respond to messages and provide professional, excellently researched
                  insight. They give practical advice, and most importantly they listen to what you need, rather
                  than just tell you the law.</p>
                <div class="testi-swiper-title-wrap">
                  <h4 class="testi-swiper-card-title">President of Freestanding Emergency Facilities, Texas</h4>
                </div>
              </div>


            </div>
          </li>
          <li class="swiper-slide">
            <div class="testi-swiper-card">
              <div class="testi-item-img-wrap">
                <img loading="lazy" src="./img/testimonials-img-3" alt="testimonials image" />
              </div>
              <div class="testi-item-text-wrap">
                <p class="testi-swiper-card-text">If you are looking for a group of attorneys that is like an expansion to your team, Pasha Law PC
                  is the way to go. I can honestly say I have never encountered any lawyer/firm more dedicated to
                  providing the utmost care and attention to my very needs. The firm treats you and your business
                  as their own instead of a transactional project.</p>
                <div class="testi-swiper-title-wrap">
                  <h4 class="testi-swiper-card-title">CEO of Concierge Medical Clinic System, Texas and California</h4>
                </div>
              </div>


            </div>
          </li>
          <li class="swiper-slide">
            <div class="testi-swiper-card">
              <div class="testi-item-img-wrap">
                <img loading="lazy" src="./img/testimonials-img-4" alt="testimonials image" />
              </div>
              <div class="testi-item-text-wrap">
                <p class="testi-swiper-card-text">If you are looking for a group of attorneys that is like an expansion to your team, Pasha Law PC
                  is the way to go. I can honestly say I have never encountered any lawyer/firm more dedicated to
                  providing the utmost care and attention to my very needs. The firm treats you and your business
                  as their own instead of a transactional project.</p>
                <div class="testi-swiper-title-wrap">
                  <h4 class="testi-swiper-card-title">CEO of Concierge Medical Clinic System, Texas and California</h4>
                </div>
              </div>


            </div>
          </li>
          <li class="swiper-slide">
            <div class="testi-swiper-card">
              <div class="testi-item-img-wrap">
                <img loading="lazy" src="./img/testimonials-img-1" alt="testimonials image" />
              </div>
              <div class="testi-item-text-wrap">
                <p class="testi-swiper-card-text">Getting personalized, high quality and prompt support from a legal team in this incredibly fast-
                  moving space not only protects us but had become a differentiation for our company.</p>
                <div class="testi-swiper-title-wrap">
                  <h4 class="testi-swiper-card-title">CEO of Genetic Consulting Business, California</h4>
                </div>
              </div>


            </div>
          </li>
          <li class="swiper-slide">
            <div class="testi-swiper-card">
              <div class="testi-item-img-wrap">
                <img loading="lazy" src="./img/testimonials-img-2" alt="testimonials image" />
              </div>
              <div class="testi-item-text-wrap">
                <p class="testi-swiper-card-text">I have been more and more impressed with Pasha Law PC with every interaction. They are
                  prompt to return calls, respond to messages and provide professional, excellently researched
                  insight. They give practical advice, and most importantly they listen to what you need, rather
                  than just tell you the law.</p>
                <div class="testi-swiper-title-wrap">
                  <h4 class="testi-swiper-card-title">President of Freestanding Emergency Facilities, Texas</h4>
                </div>
              </div>


            </div>
          </li>
          <li class="swiper-slide">
            <div class="testi-swiper-card">
              <div class="testi-item-img-wrap">
                <img loading="lazy" src="./img/testimonials-img-3" alt="testimonials image" />
              </div>
              <div class="testi-item-text-wrap">
                <p class="testi-swiper-card-text">If you are looking for a group of attorneys that is like an expansion to your team, Pasha Law PC
                  is the way to go. I can honestly say I have never encountered any lawyer/firm more dedicated to
                  providing the utmost care and attention to my very needs. The firm treats you and your business
                  as their own instead of a transactional project.</p>
                <div class="testi-swiper-title-wrap">
                  <h4 class="testi-swiper-card-title">CEO of Concierge Medical Clinic System, Texas and California</h4>
                </div>
              </div>


            </div>
          </li>
          <li class="swiper-slide">
            <div class="testi-swiper-card">
              <div class="testi-item-img-wrap">
                <img loading="lazy" src="./img/testimonials-img-4" alt="testimonials image" />
              </div>
              <div class="testi-item-text-wrap">
                <p class="testi-swiper-card-text">If you are looking for a group of attorneys that is like an expansion to your team, Pasha Law PC
                  is the way to go. I can honestly say I have never encountered any lawyer/firm more dedicated to
                  providing the utmost care and attention to my very needs. The firm treats you and your business
                  as their own instead of a transactional project.</p>
                <div class="testi-swiper-title-wrap">
                  <h4 class="testi-swiper-card-title">CEO of Concierge Medical Clinic System, Texas and California</h4>
                </div>
              </div>


            </div>
          </li>
        </ul>

      </div>
    </div>
    <div class="testi-swiper-button-wrapper bot-button">
      <div class="testi-swiper-button-prev t-btn-prev"> <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g opacity="0.7">
            <circle cx="18.5" cy="18.5" r="17.75" transform="rotate(-180 18.5 18.5)" stroke="#152F53" stroke-width="0.5" />
            <path d="M21.5 12.5L15.5 18.5L21.5 24.5" stroke="#152F53" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
          </g>
        </svg></div>
      <div class="testi-swiper-button-next t-btn-next"> <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g opacity="0.7">
            <circle cx="18.5" cy="18.5" r="17.75" transform="rotate(-180 18.5 18.5)" stroke="#152F53" stroke-width="0.5" />
            <path d="M21.5 12.5L15.5 18.5L21.5 24.5" stroke="#152F53" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
          </g>
        </svg></div>
    </div>
  </div>
</section>